body {
  /* background: linear-gradient(0deg, #52b415, #eee); */
  background-color: #ccc;
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
}

.content,
.log-toggle {
  background-color: rgb(92, 89, 89);
}

.log .log-button {
  border: solid 1px #fff;
  color: white;
}

.log .log-button:hover {
  color: #444;
}

.buttons-create button {
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 2px;
}

#camunda-field-value,
#cam-script-val,
#camunda-process-id {
  font-family: 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback';
  font-size: 13px !important;
  background: rgb(34, 33, 33) !important;
  color: rgb(174, 202, 218) !important;
}

#camunda-field-value,
#cam-script-val {
  height: 200px !important;
}

.clear {
  background-color: rgb(230, 75, 75) !important;
  color: white !important;
}

.add {
  background-color: rgb(67, 207, 79) !important;
  color: white !important;
}

#entry {
  cursor: pointer;
}

/* circle Start */
.djs-shape g circle[style*="stroke-width: 2px"] {
  stroke: rgb(67, 160, 71) !important;
  fill: rgb(200, 230, 201) !important;
  fill-opacity: 0.95 !important;
}

/* circle End */
.djs-shape g circle[style*="stroke-width: 4px"] {
  stroke: rgb(229, 57, 53) !important;
  fill: rgb(255, 205, 210) !important;
  fill-opacity: 0.95 !important;
}